# Configuration file

##########################################################################################################
# commandname
#--------------------------------------------------------------------------------------------------------#
# Allows you to rename any command registered with ServerTools
##########################################################################################################

commandname {
    S:info.servertools.core.command.corecommands.CommandDisarm=disarm
    S:info.servertools.core.command.corecommands.CommandEntityCount=entitycount
    S:info.servertools.core.command.corecommands.CommandHeal=heal
    S:info.servertools.core.command.corecommands.CommandInventory=inventory
    S:info.servertools.core.command.corecommands.CommandKillAll=killall
    S:info.servertools.core.command.corecommands.CommandKillPlayer=killplayer
    S:info.servertools.core.command.corecommands.CommandMemory=memory
    S:info.servertools.core.command.corecommands.CommandMotd=motd
    S:info.servertools.core.command.corecommands.CommandNick=nick
    S:info.servertools.core.command.corecommands.CommandPing=ping
    S:info.servertools.core.command.corecommands.CommandReloadMotd=reloadmotd
    S:info.servertools.core.command.corecommands.CommandRemoveAll=removeall
    S:info.servertools.core.command.corecommands.CommandSetNick=setnick
    S:info.servertools.core.command.corecommands.CommandSilence=silence
    S:info.servertools.core.command.corecommands.CommandSpawnMob=spawnmob
    S:info.servertools.core.command.corecommands.CommandTPS=tps
    S:info.servertools.core.command.corecommands.CommandVoice=voice
    S:info.servertools.core.command.corecommands.CommandWhereIs=whereis
    S:info.servertools.permission.command.CommandAddPerm=addperm
    S:info.servertools.permission.command.CommandAddPlayer=addplayer
    S:info.servertools.permission.command.CommandAddUUID=adduuid
    S:info.servertools.permission.command.CommandCreateGroup=creategroup
    S:info.servertools.permission.command.CommandListPerms=listperms
    S:info.servertools.permission.command.CommandRemoveGroup=removegroup
    S:info.servertools.permission.command.CommandRemovePerm=removeperm
    S:info.servertools.permission.command.CommandRemovePlayer=removeplayer
    S:info.servertools.permission.command.CommandRemoveUUID=removeuuid
    S:info.servertools.permission.command.CommandSetGroupColor=setgroupcolor
    S:info.servertools.permission.command.CommandSetParent=setparent
    S:info.servertools.teleport.command.CommandBack=back
    S:info.servertools.teleport.command.CommandEditTeleport=editteleport
    S:info.servertools.teleport.command.CommandHome=home
    S:info.servertools.teleport.command.CommandTPDim=tpdim
    S:info.servertools.teleport.command.CommandTeleport=teleport
    S:info.servertools.teleport.command.CommandTeleportRequest=tprequest
}


##########################################################################################################
# enablecommand
#--------------------------------------------------------------------------------------------------------#
# Allows you to disable any command registered with ServerTools
##########################################################################################################

enablecommand {
    B:info.servertools.core.command.corecommands.CommandDisarm=true
    B:info.servertools.core.command.corecommands.CommandEntityCount=true
    B:info.servertools.core.command.corecommands.CommandHeal=true
    B:info.servertools.core.command.corecommands.CommandInventory=true
    B:info.servertools.core.command.corecommands.CommandKillAll=true
    B:info.servertools.core.command.corecommands.CommandKillPlayer=true
    B:info.servertools.core.command.corecommands.CommandMemory=true
    B:info.servertools.core.command.corecommands.CommandMotd=true
    B:info.servertools.core.command.corecommands.CommandNick=true
    B:info.servertools.core.command.corecommands.CommandPing=true
    B:info.servertools.core.command.corecommands.CommandReloadMotd=true
    B:info.servertools.core.command.corecommands.CommandRemoveAll=true
    B:info.servertools.core.command.corecommands.CommandSetNick=true
    B:info.servertools.core.command.corecommands.CommandSilence=true
    B:info.servertools.core.command.corecommands.CommandSpawnMob=true
    B:info.servertools.core.command.corecommands.CommandTPS=true
    B:info.servertools.core.command.corecommands.CommandVoice=true
    B:info.servertools.core.command.corecommands.CommandWhereIs=true
    B:info.servertools.permission.command.CommandAddPerm=true
    B:info.servertools.permission.command.CommandAddPlayer=true
    B:info.servertools.permission.command.CommandAddUUID=true
    B:info.servertools.permission.command.CommandCreateGroup=true
    B:info.servertools.permission.command.CommandListPerms=true
    B:info.servertools.permission.command.CommandRemoveGroup=true
    B:info.servertools.permission.command.CommandRemovePerm=true
    B:info.servertools.permission.command.CommandRemovePlayer=true
    B:info.servertools.permission.command.CommandRemoveUUID=true
    B:info.servertools.permission.command.CommandSetGroupColor=true
    B:info.servertools.permission.command.CommandSetParent=true
    B:info.servertools.teleport.command.CommandBack=true
    B:info.servertools.teleport.command.CommandEditTeleport=true
    B:info.servertools.teleport.command.CommandHome=true
    B:info.servertools.teleport.command.CommandTPDim=true
    B:info.servertools.teleport.command.CommandTeleport=true
    B:info.servertools.teleport.command.CommandTeleportRequest=true
}


